.white-washout { color: $white-washout; }
.light-washout { color: $light-washout; }
.washout { color: $washout; }
.light-storm { color: $light-storm; }
.storm { color: $storm; }
.light-tarmac { color: $light-tarmac; }
.tarmac { color: $tarmac; }
.light-turquoise { color: $light-turquoise; }
.turquoise { color: $turquoise; }
.red { color: $red; }
.color-inherit { color: inherit }
