.m0  { margin: 0 }
.mt0 { margin-top: 0 }
.mr0 { margin-right: 0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left: 0 }

.mx0 {
  margin-left: 0;
  margin-right: 0
}

.my0 {
  margin-top: 0;
  margin-bottom: 0
}

.m1  { margin:        $space-1 }
.mt1 { margin-top:    $space-1 }
.mr1 { margin-right:  $space-1 }
.mb1 { margin-bottom: $space-1 }
.ml1 { margin-left:   $space-1 }

.m1  { margin:        $space-1 }
.mt1 { margin-top:    $space-1 }
.mr1 { margin-right:  $space-1 }
.mb1 { margin-bottom: $space-1 }
.ml1 { margin-left:   $space-1 }

.mx1 {
  margin-left: $space-1;
  margin-right:  $space-1
}

.my1 {
  margin-top: $space-1;
  margin-bottom: $space-1
}

.m2  { margin: $space-2 }
.mt2 { margin-top: $space-2 }
.mr2 { margin-right: $space-2 }
.mb2 { margin-bottom: $space-2 }
.ml2 { margin-left: $space-2 }

.mx2 {
  margin-left: $space-2;
  margin-right:  $space-2
}

.my2 {
  margin-top: $space-2;
  margin-bottom: $space-2
}

.m3  { margin: $space-3 }
.mt3 { margin-top: $space-3 }
.mr3 { margin-right:  $space-3 }
.mb3 { margin-bottom: $space-3 }
.ml3 { margin-left: $space-3 }

.mx3 {
  margin-left: $space-3;
  margin-right:  $space-3
}

.my3 {
  margin-top: $space-3;
  margin-bottom: $space-3
}

.m4  { margin: $space-4 }
.mt4 { margin-top: $space-4 }
.mr4 { margin-right: $space-4 }
.mb4 { margin-bottom: $space-4 }
.ml4 { margin-left: $space-4 }

.mx4 {
  margin-left: $space-4;
  margin-right:  $space-4
}

.my4 {
  margin-top: $space-4;
  margin-bottom: $space-4
}

.m5  { margin: $space-5 }
.mt5 { margin-top: $space-5 }
.mr5 { margin-right: $space-5 }
.mb5 { margin-bottom: $space-5 }
.ml5 { margin-left: $space-5 }

.mx5 {
  margin-left: $space-5;
  margin-right: $space-5
}

.my5 {
  margin-top: $space-5;
  margin-bottom: $space-5
}

.m6  { margin: $space-6 }
.mt6 { margin-top: $space-6 }
.mr6 { margin-right: $space-6 }
.mb6 { margin-bottom: $space-6 }
.ml6 { margin-left: $space-6 }

.mx6 {
  margin-left: $space-6;
  margin-right: $space-6
}

.my6 {
  margin-top: $space-6;
  margin-bottom: $space-6
}

.m8  { margin: $space-8 }
.mt8 { margin-top: $space-8 }
.mr8 { margin-right: $space-8 }
.mb8 { margin-bottom: $space-8 }
.ml8 { margin-left: $space-8 }

.mx8 {
  margin-left: $space-8;
  margin-right: $space-8
}

.my8 {
  margin-top: $space-8;
  margin-bottom: $space-8
}

.m12  { margin: $space-12 }
.mt12 { margin-top: $space-12 }
.mr12 { margin-right: $space-12 }
.mb12 { margin-bottom: $space-12 }
.ml12 { margin-left: $space-12 }

.mx12 {
  margin-left: $space-12;
  margin-right: $space-12
}

.my12 {
  margin-top: $space-12;
  margin-bottom: $space-12
}

.m16  { margin: $space-16 }
.mt16 { margin-top: $space-16 }
.mr16 { margin-right: $space-16 }
.mb16 { margin-bottom: $space-16 }
.ml16 { margin-left: $space-16 }

.mx16 {
  margin-left: $space-16;
  margin-right: $space-16
}

.my16 {
  margin-top: $space-16;
  margin-bottom: $space-16
}

.m20  { margin: $space-20 }
.mt20 { margin-top: $space-20 }
.mr20 { margin-right: $space-20 }
.mb20 { margin-bottom: $space-20 }
.ml20 { margin-left: $space-20 }

.mx20 {
  margin-left: $space-20;
  margin-right: $space-20
}

.my20 {
  margin-top: $space-20;
  margin-bottom: $space-20
}

.m24  { margin: $space-24 }
.mt24 { margin-top: $space-24 }
.mr24 { margin-right: $space-24 }
.mb24 { margin-bottom: $space-24 }
.ml24 { margin-left: $space-24 }

.mx24 {
  margin-left: $space-24;
  margin-right: $space-24
}

.my24 {
  margin-top: $space-24;
  margin-bottom: $space-24
}

.mxn1 {
  margin-left: -$space-1;
  margin-right: -$space-1
}

.mxn2 {
  margin-left: -$space-2;
  margin-right: -$space-2
}

.mxn3 {
  margin-left: -$space-3;
  margin-right: -$space-3
}

.mxn4 {
  margin-left: -$space-4;
  margin-right: -$space-4
}

.mxn5 {
  margin-left: -$space-5;
  margin-right: -$space-5
}

.ml-auto { margin-left: auto }
.mr-auto { margin-right: auto }

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

@include media($tabletlandscape-devices...) {
  .tl-m0  { margin: 0 }
  .tl-mt0 { margin-top: 0 }
  .tl-mr0 { margin-right: 0 }
  .tl-mb0 { margin-bottom: 0 }
  .tl-ml0 { margin-left: 0 }

  .tl-m1  { margin: $space-1 }
  .tl-mt1 { margin-top: $space-1 }
  .tl-mr1 { margin-right: $space-1 }
  .tl-mb1 { margin-bottom: $space-1 }
  .tl-ml1 { margin-left: $space-1 }

  .tl-m2  { margin: $space-2 }
  .tl-mt2 { margin-top: $space-2 }
  .tl-mr2 { margin-right: $space-2 }
  .tl-mb2 { margin-bottom: $space-2 }
  .tl-ml2 { margin-left: $space-2 }

  .tl-m3  { margin: $space-3 }
  .tl-mt3 { margin-top: $space-3 }
  .tl-mr3 { margin-right: $space-3 }
  .tl-mb3 { margin-bottom: $space-3 }
  .tl-ml3 { margin-left: $space-3 }

  .tl-m4  { margin: $space-4 }
  .tl-mt4 { margin-top: $space-4 }
  .tl-mr4 { margin-right: $space-4 }
  .tl-mb4 { margin-bottom: $space-4 }
  .tl-ml4 { margin-left: $space-4 }

  .tl-m5  { margin: $space-5 }
  .tl-mt5 { margin-top: $space-5 }
  .tl-mr5 { margin-right: $space-5 }
  .tl-mb5 { margin-bottom: $space-5 }
  .tl-ml5 { margin-left: $space-5 }

  .tl-m6  { margin: $space-6 }
  .tl-mt6 { margin-top: $space-6 }
  .tl-mr6 { margin-right: $space-6 }
  .tl-mb6 { margin-bottom: $space-6 }
  .tl-ml6 { margin-left: $space-6 }

  .tl-m8  { margin: $space-8 }
  .tl-mt8 { margin-top: $space-8 }
  .tl-mr8 { margin-right: $space-8 }
  .tl-mb8 { margin-bottom: $space-8 }
  .tl-ml8 { margin-left: $space-8 }

  .tl-m11  { margin: $space-11 }
  .tl-mt11 { margin-top: $space-11 }
  .tl-mr11 { margin-right: $space-11 }
  .tl-mb11 { margin-bottom: $space-11 }
  .tl-ml11 { margin-left: $space-11 }

  .tl-m12  { margin: $space-12 }
  .tl-mt12 { margin-top: $space-12 }
  .tl-mr12 { margin-right: $space-12 }
  .tl-mb12 { margin-bottom: $space-12 }
  .tl-ml12 { margin-left: $space-12 }

  .tl-m16  { margin: $space-16 }
  .tl-mt16 { margin-top: $space-16 }
  .tl-mr16 { margin-right: $space-16 }
  .tl-mb16 { margin-bottom: $space-16 }
  .tl-ml16 { margin-left: $space-16 }

  .tl-m20  { margin: $space-20 }
  .tl-mt20 { margin-top: $space-20 }
  .tl-mr20 { margin-right: $space-20 }
  .tl-mb20 { margin-bottom: $space-20 }
  .tl-ml20 { margin-left: $space-20 }

  .tl-m24  { margin: $space-24 }
  .tl-mt24 { margin-top: $space-24 }
  .tl-mr24 { margin-right: $space-24 }
  .tl-mb24 { margin-bottom: $space-24 }
  .tl-ml24 { margin-left: $space-24 }
}

@include media($tabletportrait-devices...) {
  .tp-m0  { margin: 0 }
  .tp-mt0 { margin-top: 0 }
  .tp-mr0 { margin-right: 0 }
  .tp-mb0 { margin-bottom: 0 }
  .tp-ml0 { margin-left: 0 }

  .tp-m1  { margin: $space-1 }
  .tp-mt1 { margin-top: $space-1 }
  .tp-mr1 { margin-right: $space-1 }
  .tp-mb1 { margin-bottom: $space-1 }
  .tp-ml1 { margin-left: $space-1 }

  .tp-m2  { margin: $space-2 }
  .tp-mt2 { margin-top: $space-2 }
  .tp-mr2 { margin-right: $space-2 }
  .tp-mb2 { margin-bottom: $space-2 }
  .tp-ml2 { margin-left: $space-2 }

  .tp-m3  { margin: $space-3 }
  .tp-mt3 { margin-top: $space-3 }
  .tp-mr3 { margin-right: $space-3 }
  .tp-mb3 { margin-bottom: $space-3 }
  .tp-ml3 { margin-left: $space-3 }

  .tp-m4  { margin: $space-4 }
  .tp-mt4 { margin-top: $space-4 }
  .tp-mr4 { margin-right: $space-4 }
  .tp-mb4 { margin-bottom: $space-4 }
  .tp-ml4 { margin-left: $space-4 }

  .tp-m5  { margin: $space-5 }
  .tp-mt5 { margin-top: $space-5 }
  .tp-mr5 { margin-right: $space-5 }
  .tp-mb5 { margin-bottom: $space-5 }
  .tp-ml5 { margin-left: $space-5 }

  .tp-m6  { margin: $space-6 }
  .tp-mt6 { margin-top: $space-6 }
  .tp-mr6 { margin-right: $space-6 }
  .tp-mb6 { margin-bottom: $space-6 }
  .tp-ml6 { margin-left: $space-6 }

  .tp-m8  { margin: $space-8 }
  .tp-mt8 { margin-top: $space-8 }
  .tp-mr8 { margin-right: $space-8 }
  .tp-mb8 { margin-bottom: $space-8 }
  .tp-ml8 { margin-left: $space-8 }

  .tp-m12  { margin: $space-12 }
  .tp-mt12 { margin-top: $space-12 }
  .tp-mr12 { margin-right: $space-12 }
  .tp-mb12 { margin-bottom: $space-12 }
  .tp-ml12 { margin-left: $space-12 }

  .tp-m16  { margin: $space-16 }
  .tp-mt16 { margin-top: $space-16 }
  .tp-mr16 { margin-right: $space-16 }
  .tp-mb16 { margin-bottom: $space-16 }
  .tp-ml16 { margin-left: $space-16 }

  .tp-m20  { margin: $space-20 }
  .tp-mt20 { margin-top: $space-20 }
  .tp-mr20 { margin-right: $space-20 }
  .tp-mb20 { margin-bottom: $space-20 }
  .tp-ml20 { margin-left: $space-20 }

  .tp-m24  { margin: $space-24 }
  .tp-mt24 { margin-top: $space-24 }
  .tp-mr24 { margin-right: $space-24 }
  .tp-mb24 { margin-bottom: $space-24 }
  .tp-ml24 { margin-left: $space-24 }
}

@include media($phone-devices...) {
  .p-m0  { margin: 0 }
  .p-mt0 { margin-top: 0 }
  .p-mr0 { margin-right: 0 }
  .p-mb0 { margin-bottom: 0 }
  .p-ml0 { margin-left: 0 }

  .p-m1  { margin: $space-1 }
  .p-mt1 { margin-top: $space-1 }
  .p-mr1 { margin-right: $space-1 }
  .p-mb1 { margin-bottom: $space-1 }
  .p-ml1 { margin-left: $space-1 }

  .p-m2  { margin: $space-2 }
  .p-mt2 { margin-top: $space-2 }
  .p-mr2 { margin-right: $space-2 }
  .p-mb2 { margin-bottom: $space-2 }
  .p-ml2 { margin-left: $space-2 }

  .p-m3  { margin: $space-3 }
  .p-mt3 { margin-top: $space-3 }
  .p-mr3 { margin-right: $space-3 }
  .p-mb3 { margin-bottom: $space-3 }
  .p-ml3 { margin-left: $space-3 }

  .p-m4  { margin: $space-4 }
  .p-mt4 { margin-top: $space-4 }
  .p-mr4 { margin-right: $space-4 }
  .p-mb4 { margin-bottom: $space-4 }
  .p-ml4 { margin-left: $space-4 }

  .p-m5  { margin: $space-5 }
  .p-mt5 { margin-top: $space-5 }
  .p-mr5 { margin-right: $space-5 }
  .p-mb5 { margin-bottom: $space-5 }
  .p-ml5 { margin-left: $space-5 }

  .p-m6  { margin: $space-6 }
  .p-mt6 { margin-top: $space-6 }
  .p-mr6 { margin-right: $space-6 }
  .p-mb6 { margin-bottom: $space-6 }
  .p-ml6 { margin-left: $space-6 }

  .p-m8  { margin: $space-8 }
  .p-mt8 { margin-top: $space-8 }
  .p-mr8 { margin-right: $space-8 }
  .p-mb8 { margin-bottom: $space-8 }
  .p-ml8 { margin-left: $space-8 }

  .p-m12  { margin: $space-12 }
  .p-mt12 { margin-top: $space-12 }
  .p-mr12 { margin-right: $space-12 }
  .p-mb12 { margin-bottom: $space-12 }
  .p-ml12 { margin-left: $space-12 }

  .p-m16  { margin: $space-16 }
  .p-mt16 { margin-top: $space-16 }
  .p-mr16 { margin-right: $space-16 }
  .p-mb16 { margin-bottom: $space-16 }
  .p-ml16 { margin-left: $space-16 }

  .p-m20  { margin: $space-20 }
  .p-mt20 { margin-top: $space-20 }
  .p-mr20 { margin-right: $space-20 }
  .p-mb20 { margin-bottom: $space-20 }
  .p-ml20 { margin-left: $space-20 }

  .p-m24  { margin: $space-24 }
  .p-mt24 { margin-top: $space-24 }
  .p-mr24 { margin-right: $space-24 }
  .p-mb24 { margin-bottom: $space-24 }
  .p-ml24 { margin-left: $space-24 }
}
