.border {
  border-style: solid;
  border-width: $br1
}

.border-top {
  border-top-style: solid;
  border-top-width: $br1
}

.border-right {
  border-right-style: solid;
  border-right-width: $br1
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: $br1
}

.border-left {
  border-left-style: solid;
  border-left-width: $br1
}

.border-none { border: 0 }

.rounded { border-radius: $br3 }
.circle  { border-radius: 50% }

.rounded-top    { border-radius: $br3 $br3 0 0 }
.rounded-right  { border-radius: 0 $br3 $br3 0 }
.rounded-bottom { border-radius: 0 0 $br3 $br3 }
.rounded-left   { border-radius: $br3 0 0 $br3 }

.not-rounded { border-radius: 0 }

.border-transparent { border-color: transparent }
.border-light-washout { border-color: $light-washout }
.border-washout { border-color: $washout }
.border-light-storm { border-color: $light-storm }
.border-storm { border-color: $storm }
.border-light-tarmac { border-color: $light-tarmac }
.border-tarmac { border-color: $tarmac }
.border-light-turquoise { border-color: $light-turquoise }
.border-turquoise { border-color: $turquoise }

.border-inset { box-shadow: inset 0px 0px 0px 0.1rem }
.border-inset-top { box-shadow: inset 0 0.1rem 0 0 }
.border-inset-bottom { box-shadow: inset 0 -0.1rem 0 0 }
.border-inset-left { box-shadow: inset 0.1rem 0 0 }
.border-inset-right { box-shadow: inset -0.1rem 0 0 }
.border-inset-lrb { box-shadow: inset -0.1rem 0px 0px, inset 0.1rem -0.1rem 0, inset 0 0px 0 }
.border-inset-lrt { box-shadow: inset -0.1rem 0 0px, inset 0.1rem 0px 0, inset 0  0.1rem 0 }

.shadow-1 { box-shadow: $shadow-1 }
.shadow-2 { box-shadow: $shadow-2 }

@include media($tabletlandscape-devices...) {
  .tl-border-none { border: 0 }
  .tl-shadow-none { box-shadow: none; }
}

@include media($tabletportrait-devices...) {
  .tp-border-none { border: 0 }
}

@include media($phone-devices...) {
  .p-border-none { border: 0 }
}
